*{
    font-family: 'Unbounded', cursive;
}
.dashboard-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .dashboard-list li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px 20px;
    background-color: cornflowerblue;
    border-radius: 8px;
  }
  
  .dashboard-list li a:hover {
    background-color: #eee;
    color: cornflowerblue;
  }
  
nav{
    text-align: center;
    width: 100%;
}

.dashboard-item{
    padding: 10px 0 ;
    width: 100%;
    margin: 0;
}