.Footer-container {
    font-size: 36px;
    color:  #9839b5;
    width: 100%;
    align-items: center;
    justify-content:flex-start;
    padding: 20px 0;
    font-family: 'Oleo Script', cursive;
    display:flex;
    background-color: #fff; 
    padding: 12px 16px;
    box-shadow: 0px 7px 1px rgb(3, 0, 0), 0px -2px 5px rgb(2, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
}

.img-footer{
    width: 5%;
    padding: 0 10px;
}

p{
    font-size: 36px;
    color:  #25062f;
    margin: 0;
    padding: 0 10px;
}